@media screen and (min-width: 991px) {
  .ril-inner .ril-image-current {
    width: 660px;
  }
}
@media screen and (max-width: 990px) {
  .ril-inner .ril-image-current {
    scale: 0.7;
    /* margin-right: -299px  */
  }
}
@media screen and (max-width: 850px) {
  .ril-inner .ril-image-current {
    scale: 0.8;
    /* margin-right: -299px  */
  }
}
@media screen and (max-width: 768px) {
  .ril-inner .ril-image-current {
    scale: 0.9;
  }
}
@media screen and (max-width: 600px) {
  .ril-inner .ril-image-current {
    scale: 1;
  }
}
