# dependencies
# production
#/build
# misc

# Frontend
frontend/.env
frontend/node_modules

backend/node_modules

# creadential files backend
backend/google-cloud-storage/mibanana-app-1bcac3255187.json
backend/google-cloud-storage/mibanana-app.json

# testing
backend/.env
backend/logs

backend/package.json
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json
backend/yarn.lock
backend/commit.sh
