.main-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.main-container > * {
    font-family: var(--poppinsFont) !important;
    font-size: .9rem;
}

.inner-container {
    width: 100%;
}

.group-created-date {
    position: absolute;
}