.row-style  {
    margin-bottom: 5px;
    background-color: #FFF;
}
.row-style:hover {
    background-color: #C6C3B6 !important;
}
.active-svg {
    stroke: #C6C3B6;
}
.row-style:hover .active-svg {
    stroke : white !important;
}