/* Chat.css */

:root {
  --fonts-family: "Poppins", sans-serif;
  --yellow-text-color: #333333;
  --header-color: #f6f6e8;
  --yellow-color: #fdd700;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block: 5px;
  padding: 0;
  padding-block-end: 30px;
  overflow-y: auto;
}

.chat-2 {
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  padding: 0;
  overflow-y: auto;
}

.chat-2::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

.chat::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

.message {
  max-width: 98%;
  margin: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.message-content {
  text-overflow: ellipsis;
  white-space: break-spaces;
  background: white;
}

.ff {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style left-aligned messages */
.message.left {
  align-self: flex-start;
  /* background-color: #e1ffc7; */
}

/* Style right-aligned messages */
.message.right {
  align-self: flex-end;
  /* background-color: #c7e0ff; */
}

/* Style the input field and send button (add these elements in the component) */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  outline: none;
}

button {
  padding: 0px 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fdd700;
}

.css-1l4uw88 > h2,
h4,
h6,
.MuiGrid-root {
  font-size: 15px !important;
}

.textareaStyle {
  width: 88%;
  height: 100%;
  color: #444;
  font-family: "Poppins", arial;
  font-size: 1rem !important;
  padding: 2px 8px;
  background-color: white;
  border-color: transparent;
  padding: 5px;
  padding-inline-end: 52px;
  resize: initial;
  /* border-radius: 10px; */
}

.textareaStyle::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.textareaStyle::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

.textareaStyle::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 20px;
  /* Roundness of the thumb */
}

.textareaStyle::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

.textareaStyle::placeholder {
  padding-top: 5px;
  font-style: italic;
  font-size: 13px;
  color: #c6c3b6;
}

.uploadfilebtn {
  background: black;
  color: #fdd700;
  width: 100%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.uploadfilebtn:hover {
  background: black !important;
}

.textareaStyle:focus,
.textareaStyle:hover {
  outline: none;
}

.adminDiv2 {
  display: flex;
  align-items: center;
  height: 100%;
  padding-block-end: 10px;
}

.userName1 {
  font-size: 13px !important;
}

.date1 {
  font-size: 11px;
}

.TickImg1 {
  margin-top: 10px;
  padding: 5px;
  margin-left: auto;
}

.desc1 {
  font-size: 12px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-inline: 4px;
  padding-block: 6px;
}
.desc1 > * {
  font-size: 12px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.selectType1 {
  margin: 0px 5px;
  border-radius: 1px;
  outline: 0;
  font-family: "Poppins";
  border: 1px solid #f6f6e8;
  padding: 4px 12px;
  font-size: 12px;
}
.uploadbtn {
  border: 1px solid #f6f6e8;
  background: transparent;
  color: black;
  padding: 4px 12px;
  margin: 0px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.uploadbtn:hover {
  background: #fdd700;
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .selectType1 {
    margin: 0 2px !important;
    padding: 4px 6px !important;
    font-size: 8px !important;
  }
  .uploadbtn {
    padding: 4px 6px;
    margin: 0px 2px;
    font-size: 8px;
  }
  .addnewversion {
    padding: 4px 7px !important;
  }
}

.addnewversion {
  margin: 5px 5px;
  padding: 4px 12px;
}

.addnewversion:hover {
  background: #dcdccf !important;
}

.addnewversion:active {
  background: #c1c1b2 !important;
}

.addnewversion:focus-visible {
  background: #dcdccf !important;
}

.selectType2 {
  margin: 6px 6px 6px 0px;
  border-radius: 1px;
  outline: 0;
  font-family: "Poppins";
  font-size: 12px;
  padding: 7px 0;
  text-align: center;
  border: 2px solid lightcyan;
}

.optionType2 {
  padding: 5px 0;
  border: 2px solid lightcyan;
}

.file-image-container .fileImg1 {
  width: 100%;
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1.8;
  cursor: pointer;
}

.imageContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.deleteIcon {
  color: red;
  position: absolute !important;
  top: 0px;
  left: 1px;
  cursor: pointer;
}

.deleteIcon:hover {
  background-color: #dddfe2 !important;
  border-radius: 30px;
}

.nofilefoundDiv {
  color: #a4a4a5;
  text-align: center;
  width: 100%;
  /* padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 40%;
}

.loaderfile {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeClass {
  background-color: #fdd700 !important;
}

.activeClass option {
  background-color: white !important;
}

.downloadicon {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 11px;
  scale: 1.7;
}
.filesGrid {
  max-height: 41vh;
  height: 30vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.chat-parent-container::-webkit-scrollbar {
  width: 12px;
}
.filesGrid::-webkit-scrollbar {
  width: 8px;
}

.chat-parent-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

.filesGrid::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

.chat-parent-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #888;
  cursor: pointer;
}

.filesGrid::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
  cursor: pointer;
}

/* "&::-webkit-scrollbar": {
  width: "11px",
},
"&::-webkit-scrollbar-track": {
  background: "#f1f1f1",
  cursor: "pointer",
},
"&::-webkit-scrollbar-thumb": {
  background: "#888",
  borderRadius: "8px",
  cursor: "pointer",
},
"&::-webkit-scrollbar-thumb:hover": {
  background: "#555",
  cursor: "pointer",
}, */

.imagePreviewOverlay {
  width: 100%;
  height: 100px;
}

.notassign {
  font-size: 12px;
  font-family: "Poppins";
}

.styles-module_wrapper__1I_qj {
  background: transparent !important;
  width: 30% !important;
  height: 30% !important;
  top: 33% !important;
  left: 63% !important;
  border-radius: 10px !important;
}

.styles-module_close__2I1sI {
  color: black !important;
  top: -26px !important;
  right: 70px !important;
  opacity: 1 !important;
  font-size: 27px !important;
  font-weight: 100 !important;
}

.headesidebar {
  display: none !important;
}

.headersidebardiv {
  display: none;
}

/* --- New CSS */
.filesGrid {
  margin: 5px;
}
.upload-file-main {
  padding-block: 16px;
}

.filesGrid .file-grid-item {
  border: 5px solid #f6f6e8;
  grid-template-columns: 1fr;
  max-width: 100%;
}

.folder-dir {
  position: absolute;
  font-size: 11px;
  bottom: -3px;
  right: -3px;
  background: var(--header-color);
  padding-inline: 9px;
}
/* --- New CSS */

.project-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: var(--header-color);
}

.project-details-2 {
  grid-template-columns: repeat(5, 1fr);
}
.project-details-3 {
  grid-template-columns: repeat(1, 1fr);
}
.project-details .project-details-div {
  font-family: var(--fonts-family);
  position: relative;
  width: 98%;
  padding: 5px;
  margin: 5px;
}

.project-details .project-details-div .notassign {
  font-family: var(--fonts-family);
  font-weight: 700;
  font-size: 13px;
}
.project-details .project-details-div .remove-designer {
  position: absolute;
  top: 3px;
  left: -21px;
  scale: 0.8;
  padding: 2px;
  background: #ccc;
}

.project-details .project-details-div .adminDiv2 .designer-loading {
  position: absolute !important;
  top: 52%;
  left: 20%;
}

.h1-style {
  font-family: var(--fonts-family);
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 5rem;
  color: #fff;
  z-index: 0;
}

/* --- New CSS */
@media screen and (min-width: 1651px) {
  .project-details .adminImg1 {
    width: 40%;
    padding: 5px;
  }
}
@media screen and (max-width: 1650px) {
  .filesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-details {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-details .adminImg1 {
    width: 20%;
    padding: 5px;
  }
  .h1-style {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1360px) {
  .filesGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 3px;
  }
  .filesGrid .file-image-container .fileImg1 {
    height: 45px;
  }
}

/* --- New CSS */

@media screen and (max-width: 1200px) {
  .project-details {
    grid-template-columns: repeat(4, 1fr);
  }
  .project-details-2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .project-details .adminImg1 {
    width: 40%;
    padding: 5px;
  }
  .filesGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .filesGrid .folder-dir {
    bottom: -3px;
  }
  .filesGrid .nofilefoundDiv h1 {
    font-size: 28px;
  }
  .headesidebar {
    display: flex !important;
  }

  .headersidebardiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .filesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .project-details {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-details-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-details .adminImg1 {
    width: 25%;
    padding: 5px;
  }
  .file-image-container .fileImg1 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: contain;
  }
  .h1-style {
    font-size: 4rem;
  }
}

@media screen and (max-height: 740px) {
  .chat {
    padding-block-end: 46px;
  }
}

@media screen and (max-height: 550px) {
  .chat {
    padding-block-end: 65px;
  }
}

@media screen and (max-width: 550px) {
  .file-grid-item .upload-file-main button svg {
    scale: 0.8;
  }
  .file-grid-item .upload-file-main svg {
    scale: 1.2;
  }
  .file-image-container .fileImg1 {
    width: 40px;
    height: 40px;
  }
  .filesGrid .nofilefoundDiv h1 {
    font-size: 22px;
  }
  .h1-style {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .filesGrid {
    grid-template-columns: 1fr 1fr;
  }
  .project-details .adminImg1 {
    width: 30%;
    padding: 5px;
  }
  .h1-style {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 440px) {
  .file-grid-item .upload-file-main button svg {
    scale: 0.9;
  }
  .file-grid-item .upload-file-main svg {
    scale: 1.2;
  }
  .file-image-container .fileImg1 {
    width: 30px;
    height: 30px;
  }
  
  .project-details {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-details-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .h1-style {
    font-size: 2.5rem;
    left: -10px;
  }
}
@media screen and (max-width: 350px) {
  .project-details-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .filesGrid .nofilefoundDiv h1 {
    font-size: 14px;
  }
  .filesGrid {
    width: 95%;
    grid-template-columns: 1fr;
    padding: 7px;
  }
}
